body {background:#666; color:#ddd; padding:0 2em; font-family:helvetica, sans-serif; }
h1 {font-size:3em; margin:.5em 0; text-transform:lowercase; text-shadow:1px 1px 1px rgba(0,0,0,0.5); }
h2 {text-shadow:1px 1px 1px rgba(0,0,0,0.3); }
a {color:inherit; }
p {text-shadow:1px 1px 1px rgba(0,0,0,0.3); }
p a {color:#fff; }
p strong {color:#fff; }
abbr {cursor:help; }

::selection {background: #555; color: #fff; }
::-moz-selection{background: #555; color: #fff; }
::-webkit-selection{background: #555; color: #fff; }

.intro {position: relative; }
.intro .info {width: 2em; height: 12px; margin: 0 4px 0 0; padding: 4px 4px 2px 4px; font-weight: 700; color: #333; position: absolute; right: 0; top: 0; z-index: 500; cursor: pointer; }
.intro .info.open {color: #fff; }
.intro .info .about {opacity: 0; width: 400px; padding: 1.5em 1em 0 1em; color: #fff; border: 1px solid rgba(255,255,255,0.6); border-radius: 3px; background: rgba(35,35,35,0.8); -moz-transition: all .2s linear; -webkit-transition: all .2s linear; position: absolute; right: -160px; top: -18px; z-index: 400; }
.intro .info.open .about {opacity: 1; }
.intro .info .close {opacity: 0; display: block; width: auto; padding: 2px 6px; background: rgba(200,200,200,0.4); color: #fff; font-size: smaller; position: absolute; top: -1px; z-index: 700; }
.intro .info.open .close {opacity: 1; }

#other {clear:both; position:fixed; bottom:20px; left:0px; z-index:1001; }
#other ul {}
#other ul li {float:left; padding:0 10px; list-style-type:none; text-shadow:-1px -1px 1px rgba(0,0,0,0.3); }
#other ul li a {color:#def; text-shadow:0 1px 0px rgba(0,0,0,0.3); }
#other .credit {position:relative; left:2em; }

.warning {font-size:1.2em; color:#fff; text-shadow: 1px 1px 0 rgba(0,0,0,0.3); }
.warning a {color:#fff; text-shadow: 0 1px 0 rgba(0,0,0,0.4); }

code {white-space: nowrap; }