<div class="intro">
	<h1><a href="http://css3playground.com">css3</a> // {{ page.title }}</h1>
	<div class="info"><span class="close">close</span>info
		<p class="about">
			This is a demo site for CSS3. For most stuff you need <a href="http://www.apple.com/safari/">Safari 4+</a>, <a href="http://www.google.com/chrome">Chrome</a>, <a href="http://www.mozilla.com/en-US/firefox/new/">Firefox 4+</a> or <a href="http://www.opera.com/browser/next/">Opera 10.5x</a> to make these demos work.<br />
			For 3D stuff, you need Safari 5, Chrome 10+ or the <a href="http://nightly.webkit.org/">WebKit Nightly build</a>.<br /><br />
		</p>
	</div>
</div>
