<!doctype html>
<html lang="en-us" dir="ltr" class="no-js">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{{ page.title }} // CSS3 Playground</title>
<link rel="stylesheet" href="/main.css" />
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" />
<script src="/js/modernizr.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"></script>
{% comment %} google site verification {% endcomment %}
</head>
<body>
	{{ content }}
	{% include nav.html %}

	<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
		try {
			//
			//
			//
			//
			//
			//
			// PLEASE, PLEASE, STOP TAKING MY GOOGLE ANALYTICS NUMBER. STOP!!!!!!!!!!!!!!!
			// TAKE ALL THE CODE YOU WANT, JUST NOT MY GA NUMBER!!!!!!!!!!!!!!!!!!!!!!!!!!
			//
			//
			//
			//
			//
			//
			var pageTracker = _gat._getTracker("UA-432773-11");
			pageTracker._trackPageview();
		} catch(err) {}
	</script>

</body>
</html>
