<!doctype html>
<html lang="en-us" dir="ltr" class="no-js">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{{ page.title }} // CSS3 Playground</title>
<link rel="stylesheet" href="/main.css" />
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" />
<script src="/js/modernizr.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"></script>
{% comment %} google site verification {% endcomment %}
</head>
<body>
	{{ content }}

	<div id="other">
		<ul>
			<li class="more">css3 examples:</li>
			<li><a href="/hover/">hover panels</a></li>
	{% comment %} 	<li><a href="/hover-card/">hover cards</a></li> {% endcomment %}
			<li><a href="/mosaic/">mosaic</a></li>
			<li><a href="/flashlight/">flashlight shadow</a></li>
			<li><a href="/3d-flip-cards/">3D flip cards</a></li>
	{% comment %}  <li><a href="/reveal/">reveal</a></li> {% endcomment %}
			<li><a href="/gears/">gears</a></li>
	{% comment %}  <li><a href="/coin/">coin</a></li> {% endcomment %}
			<li><a href="/blur-filter/">blur filter</a></li>
			<li><a href="/slinky/">slinky</a></li>
			<li><a href="/tile/">tile</a></li>
			<li class="credit">say hi to:</li>
			<li class="vcard"><a href="http://chrisruppel.com" title="Chris Ruppel" rel="me" class="fn url">chris ruppel</a></li>
		</ul>
	</div>

	<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
		try {
			//
			//
			//
			//
			//
			//
			// PLEASE, PLEASE, STOP TAKING MY GOOGLE ANALYTICS NUMBER. STOP!!!!!!!!!!!!!!!
			// TAKE ALL THE CODE YOU WANT, JUST NOT MY GA NUMBER!!!!!!!!!!!!!!!!!!!!!!!!!!
			//
			//
			//
			//
			//
			//
			var pageTracker = _gat._getTracker("UA-432773-11");
			pageTracker._trackPageview();
		} catch(err) {}
	</script>

</body>
</html>
